.ResultPanel {
    width : 100%;
    height: 100px;
    background-color: lightgray;
    margin:  auto;
    font-size: 2rem;
    display: grid;
    place-content: center;
    font-family: monospace;
    padding-bottom: 1rem;
}

.ResultPanel button {
    background-color: blue;
    height: 32px;
    border-radius: 15px;
    border : none;
    box-shadow: -2px 5px 5px black;
    color : white;
    font-size: 1rem;
    margin-top: 5px;
}